@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aa-input-border-color-alpha: 0;
  --aa-panel-border-color-alpha: 0;
  --aa-background-color-alpha: .9;
}

.filter-purple {
  filter: invert(24%) sepia(10%) saturate(4600%) hue-rotate(248deg) brightness(80%) contrast(92%);
}

.design {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.tile {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 2px;
}

.left-center {
  @apply top-1/2 transform -translate-y-1/2 left-0 fixed flex flex-col items-center flex-nowrap justify-center;
}

.paper-outside {
  @apply bg-gray-300 opacity-30;
}

.top {
  @apply w-[100vw] h-[50px] top-0 left-0 fixed flex items-center flex-nowrap justify-around;
}

.bottom {
  @apply w-[100vw] h-[50px] bottom-0 left-0 fixed flex items-center flex-nowrap justify-around;
}

.bottom-center {
  @apply h-[50px] bottom-0 left-1/2 -translate-x-1/2 fixed flex items-center flex-nowrap justify-around;
}

.bottom-right {
  @apply h-[50px] bottom-0 right-0 fixed flex items-center flex-nowrap justify-end;
}

.icon {
  @apply p-4;
}

.icon:hover {
  @apply bg-gray-100;
}

.hov:hover {
  @apply bg-gray-100
}

.aa-SubmitButton {
  display: none;
}

.aa-Form {
  padding-left: 10px;
}

.aa-Form:focus {
  outline: none;
}

.aa-Input {
  @apply text-sm;
}

.aa-List {
  @apply text-xs;
  transform: scale(.9);
}

.aa-PanelLayout {
  @apply p-0;
}

.ais-SearchBox-form {
  display: flex;
  align-items: center;
}

.ais-SearchBox {
  padding: 10px;
}

.ais-SearchBox-input {
  color: black;
}

.ais-SearchBox-submit {
  color: black;
}

.ais-SearchBox-input:focus {
  outline: none;
}

.ais-SearchBox-input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.ais-PoweredBy,
.ais-PoweredBy-link {
  position: absolute;
  z-index: 1000;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 125px;
}

.ais-InfiniteHits-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.ais-InfiniteHits-item {
  max-height: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}